<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.gym.mapper.GymCourseInfoMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.gym.domain.GymCourseInfo">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="course_name" property="courseName"/>
        <result column="course_price" property="coursePrice"/>
        <result column="course_describe" property="courseDescribe"/>
        <result column="course_type" property="courseType"/>
        <result column="course_use_period_days" property="courseUsePeriodDays"/>
        <result column="course_available_quantity" property="courseAvailableQuantity"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, course_name, course_price, course_describe, course_type, course_use_period_days, course_available_quantity
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gym_course_info
        where del_flag = '0'
            <if test="criteria.courseName != null">
                and course_name like concat('%',#{criteria.courseName},'%')
            </if>
            <if test="criteria.courseDescribe != null">
                and course_describe like concat('%',#{criteria.courseDescribe},'%')
            </if>
            <if test="criteria.courseType != null">
                and course_type = #{criteria.courseType}
            </if>
            <if test="criteria.courseUsePeriodDays != null and criteria.courseUsePeriodDays.size() > 0">
                AND course_use_period_days BETWEEN #{criteria.courseUsePeriodDays[0]} AND #{criteria.courseUsePeriodDays[1]}
            </if>
            <if test="criteria.courseAvailableQuantity != null and criteria.courseAvailableQuantity.size() > 0">
                AND course_available_quantity BETWEEN #{criteria.courseAvailableQuantity[0]} AND #{criteria.courseAvailableQuantity[1]}
            </if>
        order by id desc
    </select>
</mapper>