<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.gym.mapper.GymClassRecordMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.gym.domain.GymClassRecord">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="coach_id" property="coachId"/>
        <result column="member_id" property="memberId"/>
        <result column="contract_info_id" property="contractInfoId"/>
        <result column="class_begin_time" property="classBeginTime"/>
        <result column="class_end_time" property="classEndTime"/>
        <result column="class_remark" property="classRemark"/>
        <result column="coach_name" property="coachName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, coach_id, member_id, contract_info_id, class_begin_time, class_end_time, class_remark
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
            t1.*,
            t2.coach_name
        from jljs_class_record t1
            left join jljs_coach_info t2 on t2.id = t1.coach_id
        where t1.del_flag = '0'
            <if test="criteria.coachId != null">
                and t1.coach_id = #{criteria.coachId}
            </if>
            <if test="criteria.memberId != null">
                and t1.member_id = #{criteria.memberId}
            </if>
            <if test="criteria.contractInfoId != null">
                and t1.contract_info_id = #{criteria.contractInfoId}
            </if>
            <if test="criteria.classRemark != null">
                and t1.class_remark like concat('%',#{criteria.classRemark},'%')
            </if>
            <if test="criteria.classBeginTime != null and criteria.classBeginTime.size() > 0">
                AND t1.class_begin_time BETWEEN #{criteria.classBeginTime[0]} AND #{criteria.classBeginTime[1]}
            </if>
            <if test="criteria.contractInfoIdList != null and criteria.contractInfoIdList.size() > 0">
                and t1.contract_info_id in
                <foreach collection="criteria.contractInfoIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        order by t1.class_begin_time desc
    </select>

    <select id="getClassStatsByDay" resultType="java.util.Map">
        SELECT COUNT(1)                                AS `count`,
               DATE_FORMAT(class_begin_time, '%Y%m%d') AS `day`
        FROM jljs_class_record
        where del_flag = '0'
        GROUP BY DATE_FORMAT(class_begin_time, '%Y%m%d')
        ORDER BY DATE_FORMAT(class_begin_time, '%Y%m%d') ASC
    </select>

</mapper>