<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.jljs.mapper.JljsClassRecordMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.jljs.domain.JljsClassRecord">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="coach_id" property="coachId"/>
        <result column="member_id" property="memberId"/>
        <result column="contract_info_id" property="contractInfoId"/>
        <result column="class_begin_time" property="classBeginTime"/>
        <result column="class_end_time" property="classEndTime"/>
        <result column="class_remark" property="classRemark"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, coach_id, member_id, contract_info_id, class_begin_time, class_end_time, class_remark
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jljs_class_record
        where del_flag = '0'
            <if test="criteria.coachId != null">
                and coach_id = #{criteria.coachId}
            </if>
            <if test="criteria.memberId != null">
                and member_id = #{criteria.memberId}
            </if>
            <if test="criteria.contractInfoId != null">
                and contract_info_id = #{criteria.contractInfoId}
            </if>
            <if test="criteria.classRemark != null">
                and class_remark like concat('%',#{criteria.classRemark},'%')
            </if>
            <if test="criteria.classBeginTime != null and criteria.classBeginTime.size() > 0">
                AND class_begin_time BETWEEN #{criteria.classBeginTime[0]} AND #{criteria.classBeginTime[1]}
            </if>
        order by class_begin_time desc
    </select>
</mapper>