<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.invest.mapper.BinanceTradeInfoMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.invest.domain.BinanceTradeInfo">
        <id column="id" property="id"/>
        <result column="symbol" property="symbol"/>
        <result column="orderId" property="orderid"/>
        <result column="price" property="price"/>
        <result column="qty" property="qty"/>
        <result column="quoteQty" property="quoteqty"/>
        <result column="commission" property="commission"/>
        <result column="commissionAsset" property="commissionasset"/>
        <result column="time" property="time"/>
        <result column="isBuyer" property="isbuyer"/>
        <result column="isMaker" property="ismaker"/>
        <result column="isBestMatch" property="isbestmatch"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, symbol, orderId, price, qty, quoteQty, commission, commissionAsset, time, isBuyer, isMaker, isBestMatch
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from binance_trade_info
        <where>
            <if test="criteria.symbol != null">
                and symbol = #{criteria.symbol}
            </if>
            <if test="criteria.orderid != null">
                and orderId = #{criteria.orderid}
            </if>
            <if test="criteria.commissionasset != null">
                and commissionAsset = #{criteria.commissionasset}
            </if>
            <if test="criteria.isbuyer != null">
                and isBuyer = #{criteria.isbuyer}
            </if>
            <if test="criteria.ismaker != null">
                and isMaker = #{criteria.ismaker}
            </if>
            <if test="criteria.isbestmatch != null">
                and isBestMatch = #{criteria.isbestmatch}
            </if>
            <if test="criteria.price != null and criteria.price.size() > 0">
                AND price BETWEEN #{criteria.price[0]} AND #{criteria.price[1]}
            </if>
            <if test="criteria.qty != null and criteria.qty.size() > 0">
                AND qty BETWEEN #{criteria.qty[0]} AND #{criteria.qty[1]}
            </if>
            <if test="criteria.quoteqty != null and criteria.quoteqty.size() > 0">
                AND quoteQty BETWEEN #{criteria.quoteqty[0]} AND #{criteria.quoteqty[1]}
            </if>
            <if test="criteria.commission != null and criteria.commission.size() > 0">
                AND commission BETWEEN #{criteria.commission[0]} AND #{criteria.commission[1]}
            </if>
            <if test="criteria.time != null and criteria.time.size() > 0">
                AND time BETWEEN #{criteria.time[0]} AND #{criteria.time[1]}
            </if>
        </where>
        order by id desc
    </select>
</mapper>