<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.invest.mapper.BinanceTradeInfoMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.invest.domain.BinanceTradeInfo">
        <id column="id" property="id"/>
        <result column="symbol" property="symbol"/>
        <result column="price" property="price"/>
        <result column="qty" property="qty"/>
        <result column="commission" property="commission"/>
        <result column="time" property="time"/>
        <result column="order_id" property="orderId"/>
        <result column="quote_qty" property="quoteQty"/>
        <result column="commission_asset" property="commissionAsset"/>
        <result column="is_buyer" property="isBuyer"/>
        <result column="is_maker" property="isMaker"/>
        <result column="is_best_match" property="isBestMatch"/>
        <result column="uid" property="uid"/>
        <result column="id_card_name" property="idCardName"/>
        <result column="hedged_flag" property="hedgedFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, symbol, price, qty, commission, time, order_id, quote_qty, commission_asset, is_buyer, is_maker, is_best_match, uid
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
            t1.*,
            t2.id_card_name,
            t3.hedged_flag
        from binance_trade_info t1
        left join binance_account_info t2 on t2.uid = t1.uid
        left join binance_trade_info_ext t3 on t3.order_id = t1.order_id
        where t1.time > '2025-01-01'
            <if test="criteria.hedgedFlag != null">
                <choose>
                    <when test="criteria.hedgedFlag == 0">
                        and (t3.hedged_flag = 0 or t3.hedged_flag IS NULL)
                    </when>
                    <otherwise>
                        and t3.hedged_flag = #{criteria.hedgedFlag}
                    </otherwise>
                </choose>
            </if>
            <if test="criteria.symbol != null">
                and t1.symbol = #{criteria.symbol}
            </if>
            <if test="criteria.orderId != null">
                and t1.order_id = #{criteria.orderId}
            </if>
            <if test="criteria.commissionAsset != null">
                and t1.commission_asset = #{criteria.commissionAsset}
            </if>
            <if test="criteria.isBuyer != null">
                and t1.is_buyer = #{criteria.isBuyer}
            </if>
            <if test="criteria.isMaker != null">
                and t1.is_maker = #{criteria.isMaker}
            </if>
            <if test="criteria.isBestMatch != null">
                and t1.is_best_match = #{criteria.isBestMatch}
            </if>
            <if test="criteria.uid != null">
                and t1.uid = #{criteria.uid}
            </if>
            <if test="criteria.price != null and criteria.price.size() > 0">
                AND t1.price BETWEEN #{criteria.price[0]} AND #{criteria.price[1]}
            </if>
            <if test="criteria.qty != null and criteria.qty.size() > 0">
                AND t1.qty BETWEEN #{criteria.qty[0]} AND #{criteria.qty[1]}
            </if>
            <if test="criteria.commission != null and criteria.commission.size() > 0">
                AND t1.commission BETWEEN #{criteria.commission[0]} AND #{criteria.commission[1]}
            </if>
            <if test="criteria.time != null and criteria.time.size() > 0">
                AND t1.time BETWEEN #{criteria.time[0]} AND #{criteria.time[1]}
            </if>
            <if test="criteria.quoteQty != null and criteria.quoteQty.size() > 0">
                AND t1.quote_qty BETWEEN #{criteria.quoteQty[0]} AND #{criteria.quoteQty[1]}
            </if>
        <if test="criteria.orderColumn != null and criteria.orderColumn != ''">
            ORDER BY t1.${criteria.orderColumn} ${criteria.orderDirection}
        </if>

    </select>
</mapper>