<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.invest.mapper.BinanceAccountInfoMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.invest.domain.BinanceAccountInfo">
        <id column="id" property="id"/>
        <result column="id_card_name" property="idCardName"/>
        <result column="uid" property="uid"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="email" property="email"/>
        <result column="total_investment" property="totalInvestment"/>
        <result column="api_key" property="apiKey"/>
        <result column="api_secret" property="apiSecret"/>
        <result column="remark" property="remark"/>
        <result column="auto_trade_flag" property="autoTradeFlag"/>
        <result column="api_valid_flag" property="apiValidFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, id_card_name, uid, phone_number, email, total_investment, api_key, api_secret, remark, auto_trade_flag ,api_valid_flag
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from binance_account_info
        <where>
            <if test="criteria.idCardName != null">
                and id_card_name like concat('%',#{criteria.idCardName},'%')
            </if>
            <if test="criteria.uid != null">
                and uid = #{criteria.uid}
            </if>
            <if test="criteria.autoTradeFlag != null">
                and auto_trade_flag = #{criteria.autoTradeFlag}
            </if>
            <if test="criteria.apiValidFlag != null">
                and api_valid_flag = #{criteria.apiValidFlag}
            </if>
            <if test="criteria.phoneNumber != null">
                and phone_number like concat('%',#{criteria.phoneNumber},'%')
            </if>
            <if test="criteria.email != null">
                and email like concat('%',#{criteria.email},'%')
            </if>
            <if test="criteria.totalInvestment != null and criteria.totalInvestment.size() > 0">
                AND total_investment BETWEEN #{criteria.totalInvestment[0]} AND #{criteria.totalInvestment[1]}
            </if>
        </where>
        order by id desc
    </select>
</mapper>